.menu{
    height: 46px;
    background-color: rgb(63, 81, 181);
}
.list-menu{
    background-color: rgb(63, 81, 181);
    color: #fff;
}
.list-menu :hover{
    color: red;
}
#navbarScrollingDropdown{
    margin: 0 10px;
}