.profile{
    /* padding: 0 50px;
    background-color: rgba(63, 81, 181, 0.5); */
    color: #fff;
    
}
.item-name{
    margin-left: 30px;
}
.profile h1{
    color: #fff;
    font-size: x-large
}
.item-contact{
    display: flex;
    flex-direction: row;
}
.contact{
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
.contact-right{
    flex: none;
}
.background{
    height: 270px;
    width: 1250px;
    margin: 0 auto;
    background-image: url("https://jumbo.g-axon.work/images/profile-bg-img.png");
}
.background-color{
    width: 100%;
    height: 100%;
    background-color: rgba(63, 81, 181, 0.5);
}
.button{
    align-items: center;
}
.bth-followers{
    border: none;
}
.bth-following{
    border: none;
}
.bth-friends{
    border: none;
}
.menu-contact{
    justify-content: end;
}
.me-auto{
    color: #fff;

}
@media screen and (max-width: 1200px) {
    .profile{
        color: #fff;
        width: 100%;
        
    }
    .button{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .background{
        height: 270px;
        width: 100%;
        margin: 0 auto;
        background-image: url("https://jumbo.g-axon.work/images/profile-bg-img.png");
    }
}