.about{
    border: 1px solid;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
}
.menu-about{
    justify-content: space-between;
}
.me-auto{
    color: #000;
    justify-content: end;
}
.item-icon{
    display: flex;
    align-items: center;
}
.content-item{
    margin-left: 20px;
}
.content-item-first{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}
.content-item-second{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.about-item{
    margin-bottom: 20px;
}