
.bth-login{
    width: 70px;
    margin: 10px 0;
}
.bth-signup{
    width: 70px;
    margin: 10px 0;
}


@media screen and (max-width: 1200px) {
    .container{
        width: 100%;
        margin: 0;
    }   
    
    .bth-login{
        display: none;
    }
    .bth-signup{
        display: none;
    }
    .bth .bth-search{
        display: none;
    }
    .bth{
        justify-content: end;
    }
}