.content-header{
    display: flex;
    justify-content: space-between;
}
.bth-login{
    width: 70px;
    margin: 10px 0;
}
.bth-signup{
    width: 70px;
    margin: 10px 0;
}
.item-icon{
    font-size: 30px;
    margin-inline: 5px;
}
.number-like{
    display: flex;
    flex-direction: row;
    
}


@media screen and (max-width: 1200px) {
    .header{
        width: 100%;
        margin: 0;
    }   
    
    .bth-login{
        display: none;
    }
    .bth-signup{
        display: none;
    }
    .bth .bth-search{
        display: none;
    }
    .bth{
        display: flex;
        flex-direction: row-reverse;
    }
    #responsive-navbar-nav{
        display: flex;
    }
    .header .bth{
        display: flex;
    }
    .bth .header-icon{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 991px) {
    .bth {
        margin-top: -50px;
    }
}